// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #eadab2;
$bg-color: #1c1c1c;
// $accent-color: #363636;
$accent-color: #212121;

* {
  color: $fg-color;
  font-size: 16px;
}

switch {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  outline-width: 0;
  border-radius: 10px;

  slider {
    min-height: 10px;
    min-width: 24px;
    margin: 1px;
    border-radius: 10px;

    background-image: none;
    background-color: $fg-color;
  }
}

scale {
  slider {
    opacity: 0;
    min-width: 4px;
    margin: 0px;

    background-image: none;
    background-color: $fg-color;
  }
}

separator {
  background: rgba($fg-color, 0.2);
}

button {
  border-radius: 8px;
  padding: 0em 0.4em;
  margin: 0 2px;
  min-width: 20px;
  background: $accent-color;
}

label {
  border-radius: 8px;
}

popover {
  arrow {
    background: $bg-color;
  }

  contents {
    background: $bg-color;
    transition: all 200ms;
  }
}

calendar {
  padding: 4px;
  border-radius: 13px;

  background: $accent-color;

  header {
    padding-top: 2px;
    padding-bottom: 4px;
  }
}

.error {
  color: #ff6b6b;
}

.title {
  font-weight: 700;
  font-size: 1.05em;
}

.subtitle {
  font-weight: 600;
  margin-top: 6px;
}

.dim {
  opacity: 0.65;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  padding-top: 4px;

  > box {
    > box {
      background: $bg-color;
      color: $fg-color;
      padding: 4px 10px;
      border-radius: 13px;
    }
  }

  .Clock {
    .CalendarTimeLabel {
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 5px;
      margin-bottom: 20px;
    }

    .CalendarDateLabel {
      margin: 5px;
    }
  }

  .Workspaces {
    .focused {
      background: $fg-color;
      color: $bg-color;

      > label {
        color: $bg-color;
      }
    }
  }

  .Audio {
    > button > box {
      min-width: 3.5em;
    }
  }

  .Archicon {
    $offset: 10px;
    padding: 0 $offset 0 $offset;
  }

  .Network {
    padding: 12px;
    min-width: 340px;

    > box {
      padding: 4px;
    }
  }

  .MprisIcon {
    color: white;
    fill: white;
  }
}
