configuration {
    modes: [combi];
    combi-modes: [window, drun, run];
}

@theme "gruvbox-dark"

entry {
    placeholder: "Type here";
}

window {
    border-radius: 10px;
}

element {
    orientation: horizontal;
    children: [ element-icon, element-text];
    spacing: 10px;
}
